node_modules
readme-images
.vscode
.DS_Store

.turbo
.turbo/*
coverage

apps/frontend/cypress/screenshots
apps/frontend/cypress/videos
apps/frontend/cypress/downloads

tsconfig.tsbuildinfo
tsconfig.server.tsbuildinfo
tsconfig.admin.tsbuildinfo

.tmp
.strapi-updater.json

# npm configuration (may contain tokens)
.npmrc