apps/backend/seed-data.tar.gz
node_modules
readme-images
.vscode
.DS_Store
.yarn/*
!.yarn
!.yarn/releases
!.yarn/releases/yarn-4.5.2.cjs
apps/frontend/next.config.js
.nx
apps/frontend/.next/*
.env

.nx/cache
.nx/workspace-data

cli/*
dist/*
create-primer-template/*