@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 241, 250, 238;
    --color-secondary: 29, 53, 87;
    --color-accent: 230, 57, 70;
    --color-accent2: 168, 218, 220;
    --color-accent3: 69, 123, 157;
  }
}
@import "react-slideshow-image/dist/styles.css";
body {
  background-color: bisque;
}
/**
Generic styles
**/
a {
  @apply text-accent;
}
a:hover {
  @apply text-accent/50 underline;
}
a:active,
a:visited {
  @apply text-accent2;
}
a.link-active {
  @apply text-accent;
}

/******************************************* 
  Rich Text Styles
*******************************************/

/* Headers */
.rich-text h1 {
  @apply text-4xl font-bold mb-4 text-secondary;
}

.rich-text h2 {
  @apply text-3xl font-bold mb-4 text-secondary;
}

.rich-text h3 {
  @apply text-2xl font-bold mb-4 text-secondary;
}

.rich-text h4 {
  @apply text-xl font-bold mb-4 text-secondary;
}

.rich-text h5 {
  @apply text-lg font-bold mb-4 text-secondary;
}

.rich-text h6 {
  @apply text-base font-bold mb-4 text-secondary;
}

/* Horizontal rules */
.rich-text hr {
  @apply border-accent2 my-8;
}

.rich-text a {
  @apply text-accent;
}
.rich-text a:hover {
  @apply text-accent/50 underline;
}
.rich-text a:active,
.rich-text a:visited {
  @apply text-accent2;
}

/* Typographic replacements */
.rich-text p {
  @apply mb-4;
}

/* Emphasis */
.rich-text strong {
  @apply font-bold;
}

.rich-text em {
  @apply italic;
}

.rich-text del {
  @apply line-through;
}

/* Blockquotes */
.rich-text blockquote {
  @apply border-l-4 border-accent2 pl-4 py-2 mb-4;
}

/* Lists */
.rich-text ul {
  @apply list-disc pl-4 mb-4;
}

.rich-text ol {
  @apply list-decimal pl-4 mb-4;
}

.rich-text li {
  @apply mb-2;
}

.rich-text li > ul {
  @apply list-disc pl-4 mb-2;
}

.rich-text li > ol {
  @apply list-decimal pl-4 mb-2;
}

/* Code blocks */
.rich-text pre {
  @apply font-mono bg-accent2 text-accent2 rounded p-4  my-6;
}

.rich-text code {
  @apply font-mono bg-accent2 text-accent2 rounded px-2 py-1;
}

/* Tables */
.rich-text table {
  @apply w-full border-collapse border-accent2 my-6;
}

.rich-text th {
  @apply bg-accent2 text-left py-2 px-4 font-semibold border-b border-accent2;
}

.rich-text td {
  @apply py-2 px-4 border-b border-accent2;
}

/* Images */
.rich-text img {
  @apply w-full object-cover rounded-xl my-6;
}

/* Custom containers */
.rich-text .warning {
  @apply bg-yellow-100 border-yellow-500 text-yellow-700 px-4 py-2 rounded-lg mb-4;
}

/******************************************* 
  React Slideshow Styles
*******************************************/

.react-slideshow-container [aria-label="Previous Slide"] {
  margin-left: 1rem;
}

.react-slideshow-container [aria-label="Next Slide"] {
  margin-right: 1rem;
}

/****
Dropdowns
****/
.nav {
  background-color: white;
  z-index: 2000;
  height: 6rem;
  transition: top 1s;
}
.nav-open,
.nav-closed {
  position: relative;
  transition: top 1s;
}
.nav-open {
  top: 6rem;
  & > .nav {
    top: 0rem;
  }
}
.nav-closed {
  top: 0rem;
  & > .nav {
    top: -6rem;
  }
}

.dropdown {
  position: relative;
  li {
    align-items: baseline;
    padding: 5px;
    box-sizing: border-box;
  }
}
.dropdown.has-children {
  display: flex;
  align-items: baseline;

  &:after {
    content: "\27BA";
    display: inline-block;
  }

  &.active:after {
    transform: rotate(90deg);
  }
  a {
    margin: 0;
    margin-right: 5px;
  }
}
/* Hide dropdown content by default */
.dropdown-content {
  width: 100%;
  min-width: 100vw;
  position: absolute;
  top: 100%; /* Positioned below the parent */
  right: 0;
  justify-content: flex-end;
  align-items: baseline;
  padding: 5px;
  background-color: aliceblue;
  border: 1px solid navy;
  border-radius: 6px;
  margin-right: -5px;
}
.dropdown-content a {
  text-wrap: nowrap;
}
/* Show the dropdown content when the parent is hovered */
.dropdown.active > .dropdown-content {
  display: flex;
}
/* Position nested dropdown content to the right of its parent */
.dropdown-content .dropdown {
  position: relative;
}
