name: CI

on:
  push:
    branches:
      - "**"

jobs:
  linting:
    name: Validate linting
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Check linting
        uses: ./.github/actions/validate-linting
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run unit tests
        uses: ./.github/actions/validate-unit-testing
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run e2e tests
        uses: ./.github/actions/validate-e2e
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  dependabot:
    name: Dependabot
    runs-on: ubuntu-latest
    needs: [linting]
    if: ${{ github.actor == 'dependabot[bot]' }}
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Run action
        uses: ./.github/actions/dependabot-automerge
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pr-url: ${{ github.event.pull_request.html_url }}
